{% extends "layout.html" %} {% block body %} {% if session.logged_in %}

<link href="{{url_for('static', filename='node_modules/datatables/media/css/dataTables.bootstrap.min.css')}}" rel="stylesheet">

<div class="row">
  <div class="col-sm-4">
    <form method="post" class="add-entry" action="
      {%if mode == 'add'%}
        {{url_for('get_todo_list')}}
      {%elif mode == 'edit'%}
        {{url_for('change_todo_list', id=todo.id)}}
      {%endif%}">
      {{form.csrf_token}}
      <div class="form-group">
        <label>{{form.todo.label}}:</label>
        {{form.todo(class="form-control", value=todo.todo if mode == 'edit' else '')}}
      </div>
      <button type=submit class="btn btn-primary">
        <i class="fa fa-save"></i> Save Todo</button>
    </form>
    <br> {% endif %}
  </div>
    <div class="col-sm-8">

      <table class="table table-sm table-light table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="text-center">No</th>
            <th class="text-center">Todo</th>
            <th class="text-center">Create At</th>
            <th class="text-center">Create By</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          {%for todo in todos%}
          <tr>
            <td class="text-center">{{loop.index}}</td>
            <td>{{todo.todo}}</td>
            <td class="text-center">{{todo.create_at.strftime('%d-%m-%Y')}}</td>
            <td class="text-center">{{todo.create_by.username}}</td>
            <td class="text-center">
              <div class="btn-group btn-group-sm">
                <a href="{{url_for('change_todo_list', id=todo.id)}}" class="btn btn-primary">
                  <i class="fa fa-pencil"></i>
                </a>
                <a href="{{url_for('delete_todo_list', id=todo.id)}}" class="btn btn-danger">
                  <i class="fa fa-trash"></i>
                </a>
              </div>
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
  {%include 'bootstrap.html'%}
  <script src="{{url_for('static', filename='node_modules/datatables/media/js/jquery.dataTables.min.js')}}"></script>
  <script src="{{url_for('static', filename='node_modules/datatables/media/js/bootstrap.dataTables.min.js')}}"></script>
  <script>
    $('.table').DataTable();
  </script> {% endblock %}